<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhorje18.popjobs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_redondo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_redondo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"
            android:label="Iniciar Sesión"/>
        <activity
            android:name=".VisualizaServicioActivity"
            android:label="Servicio" />
        <activity
            android:name=".NuevoServicioActivity"
            android:label="Nuevo Servicio" />
        <activity android:name=".RegistrarActivity"
            android:label="Crear Cuenta"/>
        <activity android:name=".BusquedaServicioActivity"
            android:label="Búsqueda"/>
    </application>

</manifest>